$grey-background: rgba(65, 65, 65, 0.616);
$green-button: rgb(10, 104, 10);
$green-button-hover: rgb(7, 66, 7);
$white-titulo: rgb(255, 255, 255);
$black-button-fechar-hover: rgb(2, 2, 2);


.containerFormEditTarefa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(15px);

    &__titulo {
        font-size: 32px;
        color: $white-titulo;
    }

    &__form {
        display: flex;
        justify-content: space-evenly;
        background-color: $grey-background;
        padding: 16px;
        border-radius: 16px;
        width: 50vw;
        position: relative;
        z-index: 1001;

        &__btnFechar {
            position: absolute;
            top: -15px;
            right: -15px;
            background-image: url('/src/assets/icons/close_40dp_E8EAED_FILL0_wght400_GRAD0_opsz40.svg');
            background-size: contain;
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 100%;
            cursor: pointer;
        }

        &__btnFechar:hover {
            background-color: $black-button-fechar-hover;
        }

        &__container_input {
            display: flex;
            gap: 10px;
            flex-direction: column;
            width: 80%;
        }

        &__inputText,
        &__inputOption,
        &__inputDate {
            font-size: 18px;
            border-radius: 16px;
            padding: 8px;
            border: solid .5px;
            background-color: transparent;
        }

        &__inputOption, &__inputDate{
            width: 45%;
        }

        &__inputOption {
            option {
                background-color: $grey-background;
            }
        }        
    }

    &__container_button {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        button{
            background-color: $green-button;
            padding: 16px;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover{
            background-color: $green-button-hover;
        }
    }
}