$black-font: black;
$grey-background: rgba(65, 65, 65, 0.616);

.cardTarefaContainer {
    display: flex;
    background-color: $grey-background;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    justify-content: space-between;
    padding: 0 16px 0 0;
    gap: 16px;
    max-width: 45vw;
    flex: 1 1 30vw;
    position: relative;

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    &__infos {

        display: flex;
        min-width: 50%;

        &__cor {
            display: block;
            min-width: 15px;
            border-radius: 8px 0 0 8px;
            box-sizing: border-box;
        }

    }

    &__botoes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
        gap: 24px;
        align-items: center;

        &__edit {
            background-color: transparent;
            border: none;
            cursor: pointer;
            height: fit-content;
        }

        &__delete{
            position: absolute;
            top: -10px;
            right: -10px;
            background-image: url('/src/assets/icons/close_40dp_E8EAED_FILL0_wght400_GRAD0_opsz40.svg');
            background-size: contain;
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 100%;
            cursor: pointer;
        }

        &__delete:hover{
            background-color: rgb(2, 2, 2);
        }
    }
}


@media (max-width: 992px){
    .cardTarefaContainer{
        min-width: 90vw;
        flex: 1 1 70vw;
    }
}

@media (max-width: 576px){
    .cardTarefaContainer{
        min-width: 85vw;
        flex: 1 1 70vw;
    }
}