$black-font: black;
$grey-background: rgba(65, 65, 65, 0.616);

.cardTarefaContainer {
    display: flex;
    background-color: $grey-background;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    justify-content: space-between;
    padding: 0 16px 0 0;
    gap: 16px;
    max-width: 45vw;
    flex: 1 1 30vw;

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    &__infos {

        display: flex;
        min-width: 50%;

        &__cor {
            display: block;
            min-width: 15px;
            border-radius: 8px 0 0 8px;
            box-sizing: border-box;
        }

    }

    &__botoes {
        display: flex;
        justify-content: space-around;
        gap: 24px;
        align-items: center;

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            height: fit-content;
        }
    }
}