$background-white: rgba(255, 255, 255, 0.800);
$background-absolute-white: white;
$font-black: rgb(8, 8, 8);

.header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 156px;
    background-color: $background-white;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 50px;
    z-index: 4;

    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

        img {
            width: 50px;
            z-index: 3;
        }

        ul {
            display: flex;
            gap: 64px;
            margin: 0;
            z-index: 2;
            padding: 0;

            li {
                text-decoration: none;
                list-style: none;
                display: flex;
                align-items: center;
                height: 100%;
                color: $font-black;
                cursor: pointer;
                overflow: hidden;
                // z-index: 1;

                &:hover{
                    font-weight: 500;
                }
            }
        }

        .header__menu{
            background-color: transparent;
            border: none;
            width: 50px;
            background-image: url('src/assets/icons/menu_48dp_000000_FILL0_wght400_GRAD0_opsz48.svg');
            background-position: center;
            display: none;
        }
    }

    &__formTarefa {
        position: absolute;
        left: 0;
        min-width: 100vw;
        min-height: 70vh;
        background-color: $background-absolute-white;
        box-sizing: border-box;
        border: 1px solid #ddd;
        padding: 60px 10px 10px 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        cursor: auto;
        padding: 80px 156px;
    }
}

@media (max-width: 992px) {

    .header {
        padding: 0 32px;
    
        nav {    

            ul {
                gap: 36px;
                padding: 0;
    
                li {
                    font-size: 24px;
                }
            }
        }
    
        &__formTarefa {
            padding: 40px 32px;
        }
    }
}

@media (max-width: 768px) {
    
    .header {

        min-height: 70px;
    
        nav {
            
            img {
                width: 60px;
                z-index: 3;
            }

            ul {
                gap: 32px;
                padding: 0;
    
                li {
                    font-size: 24px;
                }

                .header__home{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .header {
        padding: 0 28px;
    
        nav {    

            ul {
                display: none;
    
                li {
                    font-size: 24px;
                }

                .header__home{
                    display: none;
                }
            }

            .header__menu{
                display: inline-block;
            }
        }
    }
}