$grey-background: rgb(39, 39, 39);
$green-button: rgb(10, 104, 10);
$green-button-hover: rgb(7, 66, 7);
$red-button: rgb(199, 5, 5);
$red-button-hover: rgb(78, 0, 0);
$white-border: rgb(255, 255, 255);

.containerTarefa {
    display: flex;
    align-items: center;
    background-color: $grey-background;
    padding: 32px;
    border-radius: 16px;

    &__form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5vw;

        &__inputTexto {
            display: flex;
            gap: 8px;
            flex-direction: column;
            width: 40vw;

            select,
            input {
                font-size: 18px;
                border-radius: 16px;
                padding: 8px;
                border: solid .5px;
                border-color: $white-border;
                background-color: transparent;
            }
        }

        &__inputPrazo {
            display: flex;
            flex-direction: column;
            gap: 7px;

            input {
                font-size: 18px;
                border-radius: 16px;
                padding: 8px;
                border: solid .5px;
                border-color: $white-border;
                background-color: transparent;
            }
        }

        label {
            font-weight: 500;
        }

        select {
            width: 20vw;

            option {
                background-color: $grey-background;
            }
        }

        &__containerButton {
            display: flex;
            align-items: center;

            &__buttonCadastrar {
                border-radius: 8px;
                border: none;
                cursor: pointer;
                background-color: $green-button;
                padding: 16px;
            }

            &__buttonCadastrar:hover {
                background-color: $green-button-hover;
            };

            &__buttonFechar{
                @extend .containerTarefa__form__containerButton__buttonCadastrar;
                background-color: $red-button;
                display: none;
            }
        }

    }
}

@media (max-width: 992px) {
    .containerTarefa {
        &__form {
            justify-content: space-between;
        }
    }
}

@media (max-width: 576px) {
    .containerTarefa {
        margin-top: 50px;
        margin-bottom: 50px;
        
        &__form {
            flex-direction: column;
            align-items: start;
            width: 70vw;

            &__inputTexto {
                width: 100%;

                select {
                    width: 70%;
                }
            }

            &__containerButton{
                width: 100%;
                justify-content: center;
                gap: 15px;

                &__buttonFechar{
                    display: block;
                }
            }

        }

    }
}