$grey: rgb(59, 59, 59);
$white-grey: rgb(112, 112, 112);
$white: white;
$green-button: rgb(10, 104, 10);

.containerTarefa {
    display: flex;
    align-items: center;
    background-color: $grey;
    border-radius: 16px;
    padding: 15px;
    cursor: auto;
    width: 100%;
    gap: 24px;


    &__form {
        display: flex;
        justify-content: space-around;
        align-items: start;
        width: 100%;
        height: 100%;

        &__containerImg {
            display: flex;
            flex-basis: auto;
            align-items: center;
            height: 25vh;

            &__img {
                border-radius: 100%;
                background-color: $white;
                width: 5vw;
                height: 5vw;
                display: flex;
                justify-content: center;
            }
        }

        &__inputTexto {
            display: flex;
            gap: 8px;
            flex-direction: column;
            width: 35vw;

            select {
                width: 100%;
            }
        }

        &__inputPrazo {
            display: flex;
            flex-direction: column;
            gap: 7px;
        }

        label {
            font-weight: 500;
            color: $white;
        }

        input {
            padding: 8px;
            border-radius: 8px;
            border: none;
            background-color: $white-grey;
        }

        select {
            @extend input;
            display: flex;
            align-items: end;
            width: 20vw;
        }

        &__containerButton {
            display: flex;
            align-items: center;
            height: 25vh;
            button {
                border-radius: 8px;
                border: none;
                cursor: pointer;
                background-color: $green-button;
                padding: 16px;
            }
        }

    }
}